:root {
    /*
     * BASIC COLOURS
    */
    --white-color: white;

    /*
     * NORD THEME COLOURS
     * For a generic documentation, please see https://www.nordtheme.com/docs/colors-and-palettes
    */
    /* Polar Night */
    --polar-night-very-dark: #242933;
    --polar-night-dark: #2e3440;
    --polar-night: #3b4252;
    --polar-night-light: #434c5e;
    --polar-night-very-light: #4c566a;
    /* Snow Storm */
    --snow-storm-dark: #d8dee9;
    --snow-storm: #e5e9f0;
    --snow-storm-light: #eceff4;
    /* Frost */
    --frost-very-dark: #5e81ac;
    --frost-dark: #81a1c1;
    --frost: #88c0d0;
    --frost-light: #8fbcbb;
    /* Aurora */
    --aurora-red: #bf616a;
    --aurora-orange: #d08770;
    --aurora-yellow: #ebcb8b;
    --aurora-green: #a3be8c;
    --aurora-purple: #b48ead;

    /*
     * GREEN THEME COLOURS
    */
    --primary-color-dark: #039146;
    --primary-color: #3ab54a;
    --primary-color-light: #7bcc7b;
    --primary-color-very-light: #cae8cb;

    --secondary-color-very-dark: #393939;
    --secondary-color-dark: #808080;
    --secondary-color: #dcdee2;
    --secondary-color-light: #eef4ed;

    /*
     * MAIN LIGHT THEME DEFINITIONS
    */
    --text: var(--polar-night-dark);
    --text-muted: var(--polar-night-very-light);
    --background: var(--snow-storm-light);

    --link: var(--frost-dark);
    --link-hovered: var(--frost);

    --header-background: var(--frost-dark);
    --header-light-background: var(--frost);

    --footer-background: var(--snow-storm-dark);
    --footer-category-title: var(--polar-night-dark);
    --footer-category-item: var(--frost-very-dark);
    --footer-category-item-hover: var(--frost-dark);

    --card-background: var(--white-color);
    --card-dark-background: var(--snow-storm);

    --scrollbar-background: var(--snow-storm-light);
    --scrollbar-thumb: var(--frost-very-dark);
    --scrollbar-thumb-hover: var(--frost-dark);

    --button-background: var(--polar-night-light);
    --button-text: var(--snow-storm-light);
    --button-primary-background: var(--frost-dark);
    --button-primary-text: var(--white-color);
    --button-danger-background: var(--aurora-red);
    --button-danger-text: var(--white-color);

    --input-background: var(--white-color);
    --input-text: var(--polar-night-light);
    --input-placeholder: var(--frost-very-dark);
    --input-focus: var(--frost-dark);
    --input-focus-shadow: rgba(136, 192, 208, 0.3);

    --modal-background: var(--white-color);

    --checkbox-background: var(--snow-storm-dark);
    --checkbox-dark-background: var(--white-color);
    --checkbox-background-checked: var(--frost);

    --notification-background: var(--frost);
    --notification-text: var(--white-color);
    --notification-close-text: var(--snow-storm-light);
    --notification-success-background: var(--aurora-green);
    --notification-success-text: var(--white-color);
    --notification-success-close-text: var(--snow-storm-light);
    --notification-warning-background: var(--aurora-yellow);
    --notification-warning-text: var(--polar-night-very-dark);
    --notification-warning-close-text: var(--polar-night-light);
    --notification-error-background: var(--aurora-red);
    --notification-error-text: var(--white-color);
    --notification-error-close-text: var(--snow-storm-light);

    --tabs-background: var(--snow-storm-dark);
    --tabs-selected-background: var(--snow-storm);
    --tabs-selected-underline: var(--frost-dark);
}

.dark-mode {
    /*
     * MAIN DARK THEME DEFINITIONS
    */
    --text: var(--snow-storm-light);
    --text-muted: var(--snow-storm-dark);
    --background: var(--polar-night-very-dark);

    --link: var(--frost-very-dark);
    --link-hovered: var(--frost-dark);

    --header-background: var(--frost-very-dark);
    --header-light-background: var(--frost-dark);

    --footer-background: var(--polar-night-dark);
    --footer-category-title: var(--snow-storm-dark);

    --card-background: var(--polar-night-dark);
    --card-dark-background: var(--polar-night-very-dark);

    --scrollbar-background: var(--polar-night-very-dark);
    --scrollbar-thumb: var(--frost-very-dark);
    --scrollbar-thumb-hover: var(--frost-dark);

    --button-primary-background: var(--frost-very-dark);

    --input-background: var(--polar-night-very-dark);
    --input-text: var(--snow-storm-dark);
    --input-placeholder: var(--polar-night-very-light);

    --modal-background: var(--polar-night-dark);

    --checkbox-background: var(--polar-night-very-dark);
    --checkbox-dark-background: var(--polar-night-dark);
    --checkbox-background-checked: var(--frost-very-dark);

    --tabs-background: var(--polar-night-dark);
    --tabs-selected-background: var(--polar-night-very-light);
    --tabs-selected-underline: var(--frost-very-dark);
}

/*
 * BASE STYLES
*/

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: var(--background);
    color: var(--text);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 5px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: var(--link);
}

a:hover {
    color: var(--link-hovered);
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 0 10%;
    margin-bottom: auto;
}

@media only screen and (max-width: 30em) {
    .content {
        margin: 0 0 auto;
    }
}

.card {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 1rem;
    margin: 10px 0;
}

.card.dark {
    background-color: var(--card-dark-background);
}

body::-webkit-scrollbar {
    width: 11px;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-background);
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-background);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
}

.btn {
    border-radius: 0.5rem;
    border: none;
    background: var(--button-background);
    box-shadow: none;
    font-family: inherit;
    font-weight: bold;
    color: var(--button-text);
    text-shadow: none;
    cursor: pointer;
    display: inline-flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    opacity: 0.9;
}

.btn:disabled {
    opacity: 0.3;
    cursor: default;
}

.btn.btn-full {
    width: 100%;
}

.btn.btn-primary {
    background: var(--button-primary-background);
    color: var(--button-primary-text);
}

.btn.btn-danger {
    background: var(--button-danger-background);
    color: var(--button-danger-text);
}

.btn-icon {
    display: inherit;
}

.btn-icon svg,
.btn-icon img {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
}

.icon svg,
.icon img {
    display: inline-block;
    fill: currentColor;
    width: 100%;
    height: 100%;
}

input,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input,
textarea {
    line-height: normal;
}
textarea {
    line-height: 1.5rem;
}
input[type='checkbox'] {
    box-sizing: border-box;
    padding: 0;
}
.input {
    width: 100%;
    height: 2.75rem;
    border-radius: 0.5rem;
    background-color: var(--input-background);
    margin: 5px 0;
    transition: all 0.5s ease, font-size 0s;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    color: var(--input-text);
    font-size: 0.875rem;
}
textarea.input {
    padding: 0.75rem 1rem;
}
.input:focus {
    box-shadow: 0 0 0 0.25rem var(--input-focus-shadow);
    outline: none;
    border: 1px solid var(--input-focus);
    transition: all 0.5s ease, font-size 0s;
}
.input::placeholder {
    font-style: italic;
    color: var(--input-placeholder);
}
.input-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.input-label.checkbox {
    padding-top: 0.2rem;
    display: block;
}

input[type='checkbox'].checkbox {
    background-color: var(--checkbox-background);
    display: block;
    float: left;
    margin-right: 0.625rem;
    border-radius: 3px;
    width: 1.25rem;
    height: 1.25rem;
    appearance: none;
}
input[type='checkbox'].checkbox.dark {
    background-color: var(--checkbox-dark-background);
}
input[type='checkbox'].checkbox:focus {
    transition: all 0.25s ease;
    outline: none;
    box-shadow: 0 0 0 0.25rem var(--input-focus-shadow);
}
input[type='checkbox'].checkbox:checked {
    background-color: var(--checkbox-background-checked);
    text-align: center;
    text-indent: 0.125rem;
    line-height: 1.25rem;
    font-size: 0.75rem;
    background-image: url(~assets/img/checkmark.svg);
    background-position: center;
    animation: bounce 0.3s;
}

hr {
    margin: 1rem 0;
    border-style: none;
    border-top: 1px dashed var(--ui-tertiary, hsla(215, 50%, 90%, 1));
}

.pill {
    align-items: center;
    font-family: 'Open Sans', Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 11px;
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    width: auto;

    position: relative;
    border-radius: 100px;
    line-height: 1;
    overflow: hidden;
    padding: 0px 12px 0px 20px;
    text-overflow: ellipsis;
    line-height: 1.25rem;

    color: var(--notification-text);
    background-color: var(--notification-background);

    word-break: break-word;
}

.pill:before {
    border-radius: 50%;
    content: '';
    height: 10px;
    left: 6px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 10px;

    background-color: var(--notification-text);
}

.pill.danger {
    color: var(--notification-error-text);
    background-color: var(--notification-error-background);
}

.pill.danger:before {
    background-color: var(--notification-error-text);
}

.pill.warning {
    color: var(--notification-warning-text);
    background-color: var(--notification-warning-background);
}

.pill.warning:before {
    background-color: var(--notification-warning-text);
}

.pill.success {
    color: var(--notification-success-text);
    background-color: var(--notification-success-background);
}

.pill.success:before {
    background-color: var(--notification-success-text);
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}

.dropdowns {
    z-index: 20;
}
